* {
    margin: 0;
    padding: 0;
}

.box {
    width: 700px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    background-color: paleturquoise;
    border-bottom: 2px solid black;
}

button {
    padding: 5px;
    margin: 0 auto;
    border: none;
    color: white;
    background-color: limegreen;
}

.button {
    margin: 2px;
    text-align: center;

}

.box:hover {
    background-color: tomato;
}

.hidden_box {
    background-color: rgba(250, 250, 250, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    align-items: center;
    justify-content: center;
    display: none;

}

.content {
    background-color: khaki;
    padding: 20px;
    width: 350px;
    height: 190px;
    font-size: 12px;
}

h2 {
    font-size: 30px;
}

.title {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}